/*
    Organism - Navigation
 */


.nav-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    a {
        color: @color-quaternary;

        transition: color 0.3s;

        &:hover {
            color: @color-tone;
        }
    }
}

// .footer-nav {

// }

// .footer-nav ul {
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-flex-wrap: nowrap;
//         -ms-flex-wrap: nowrap;
//             flex-wrap: nowrap;
//     -webkit-align-items: center;
//         -ms-flex-align: center;
//             align-items: center;
//     -webkit-justify-content: space-between;
//         -ms-flex-pack: justify;
//             justify-content: space-between;
//     display: -webkit-flex;
//     -webkit-justify-content: space-between;
//     -webkit-align-items: center;
//     -webkit-flex-wrap: nowrap;
// }

.footer-nav ul li a {
    // color: #FFF;
    // transition: color 0.3s;
}

.footer-nav ul li a:hover {
    // color: #f93a2b;
}
