/*
    Molecule - Coming Soon
 */
.coming-soon {
    margin-top: 30px;

    .heading-small {
        color: @color-quaternary;
    }
}

.coming-soon-items {
    padding-bottom: 40px;

    border-bottom: 1px solid @color-quaternary;
}

.coming-soon-item {

    .title,
    .dates {
        color: @color-quaternary;

        border-color: @color-quaternary;
    }
}
