/* colour declarations */
@basement-orange: #f93a2b;
@basement-red: #d6009e;
@basement-blue: #039;
@basement-green: #1cce28;

/* box-shadow */
@box-shadow-top:  0px -1px 3px 0px rgba(50, 50, 50, 0.5) !important;
@box-shadow-bottom: 0px 3px 4px 0px rgba(50, 50, 50, 0.5) !important;

/* correct title margin to navbar offset */
.collection-type-index .title-desc-wrapper {
  margin-top: 90px !important;
  background:#666 !important;
  max-width:960px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.collection-type-index .title-desc-wrapper h1 {
  margin: 1.5em;
}

/* fix navigation line height */
.main-nav ul li a span, .main-nav ul li a:visited span {
  line-height:90px;
}

/* remove default nav wrap padding */
.title-nav-wrapper {
  padding: 0 !important;
}


/*
summary-block styles
*/
.summary-title a {
  font-family: 'knockout', bebas neue, sans-serif;
  color: #fff;
}

/*
FRONT PAGE CUSTOM STYLES
*/

.row .sqs-row {
  max-width:960px !important;
  margin: 0 auto !important;
}

.sqs-block-content {
  max-width: 960px;
  margin:  0 auto;
}



/* whats-on.section */

#block-yui_3_17_2_2_1435157932706_25100, #block-yui_3_17_2_2_1431400265136_26050, #block-yui_3_17_2_24_1431401661494_8621, #block-yui_3_17_2_6_1433978922996_19932, #block-yui_3_17_2_68_1431401661494_6048, #block-yui_3_17_2_2_1433901705627_28464 {
  background:@basement-blue;
  -webkit-box-shadow: @box-shadow-bottom;
  -moz-box-shadow:    @box-shadow-bottom;
  box-shadow:         @box-shadow-bottom;
  margin: 0 auto;
  max-width:100%;
}


#block-yui_3_17_2_2_1435157932706_25100 {
  -webkit-box-shadow: @box-shadow-top;
  -moz-box-shadow: @box-shadow-top;
  box-shadow: @box-shadow-top;
}

#block-yui_3_17_2_2_1431400265136_26050 h1 { /*whats-on*/
  color:#fff !important;
}

#yui_3_17_2_2_1435150511307_489.summary-item {
  background: #000 !important;
  text-align:center;
}

#yui_3_17_2_2_1435150511307_489 .summary-thumbnail, .summary-thumbnail img {
    width: 290px !important;
    height: 290px !important;
}

/* black h1s */

div#block-yui_3_17_2_2_1435111617305_10207 > .sqs-block-content h1, div#block-yui_3_17_2_3_1434320613535_31588 > .sqs-block-content h1  {
  color: #000 !important;
}
