/* CUSTOM TYPEFACE INIT */

@font-face {
  font-family: 'GT-Haptik-Regular';
  src: url("https://static1.squarespace.com/static/5535bce1e4b071a2f7e12732/t/558a9894e4b06f25237610c6/1435146388033/GT-Haptik-Regular-2.woff") format('woff');
  font-weight:normal;
}
@font-face {
  font-family: 'GT-Haptic-Oblique';
  src: url("https://static1.squarespace.com/static/5535bce1e4b071a2f7e12732/t/558b547ae4b004a952925578/1435194490324/GT-Haptik-Regular-Oblique-2.woff") format('woff');
}
@font-face {
  font-family: 'GT-Haptic-Rotalics';
  src: url("https://static1.squarespace.com/static/5535bce1e4b071a2f7e12732/t/558a98c3e4b08352dcf8fb26/1435146435079/GT-Haptik-Bold-Rotalic.woff") format('woff');
}

@font-face {
  font-family: 'Knockout-48';
  src: url("http://static1.squarespace.com/static/5535bce1e4b071a2f7e12732/t/558a98e2e4b09ef3bcbf8cd6/1435146466427/Knockout-49.otf") format('opentype');
}


h1, h2 {
  font-family: 'Knockout-48', bebas neue, sans-serif !important;
}

h3, h4, h5, h6, p, a {
  font-family: 'GT-Haptik-Regular', helvetica, sans-serif !important;
}
