/*
    Molecule - Navigation
 */
.navbar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    margin: 0 auto;

    background: @color-quaternary;
}

// .horizontal-navigation-bar {
//     nav > ul > li,
//     nav > ul > li > a { line-height: 1.2em; }
//     #site-title a { line-height: 1.4em; }
//     #banner { height: @logoHeightNav; }
// }

.horizontal-navigation-bar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: @constraint-width;
    width: 100%;
    margin: auto;
    padding: 10px 0;

    nav {
        position: relative;

        display: inline-block;
        width: auto;
        margin: auto;
        vertical-align: middle;

        ul {
            font-size: 0;
            letter-spacing: 0;
            // margin-left: -5px;

            li {
                display: inline-block;
            }

            li a {
                // font-size: @nav-font-font-size;
                font-size: 13px;
                // padding: 0.5em;
                // display: inline-block;

                // padding: 0;
                margin-right: 30px;
                font-family: @font-gt-haptik-regular;
                // font-size: 14px;
                transition: color 0.3s;
            }

            li.search {
                min-width: (@gutter * 2);
                float: right;
            }

            li.search .search-block .sqs-search-ui-button .title { font-size: @nav-font-font-size; }
            li:nth-last-child(1) span.delimiter { display: none; }

        }

    }

    nav.main-nav .folder {
        position: relative;

        .subnav {
            display: none;
            position: absolute;
            top: 100%;
            left: -0.25em;
            z-index: 40000;
            zoom: 1;
        }
        .subnav ul {
            background-color: @navBgColor;
            border: 1px solid darken(@navBgColor, 5%);
            padding: (@nav-font-font-size / 2) 0;
            display: block;
        }
        .subnav li {
            display: list-item;
            float: none;
            text-align: left;
        }
        .subnav li a {
            display: block;
            white-space: nowrap;
            padding: 0.4em 1em;
            line-height: 1em;
        }

        &:hover .subnav,
        &:active .subnav,
        &:focus .subnav {
            display: block;
        }

    }
}


.horizontal-navigation-bar .main-nav {
    padding-right: 0 !important;
    margin-left: 20px;
}

.horizontal-navigation-bar nav ul {
    // margin-left: 0;
}

.horizontal-navigation-bar nav ul li a {

}

#main-navigation a:hover,
#main-navigation .active-link a {
    color: #0200fc !important;
}

.mobile-nav-container {
    display: none;
}


#main-navigation {
    z-index: 10000;
    a:link, a:visited { color: @navLinkColor !important; }
    a:hover, a:focus { color: @navLinkHoverColor !important; }
    a:active, .active-link a, .folder .active-folder { color: @navLinkActiveColor !important; }
}








@media only screen and (min-width: 320px) and (max-width: 768px) {
    .desk-nav {
        display: none;
    }

    .mobile-nav-container {
        display: block;
    }

    .mobile-nav {
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s;
    }

    .mobile-nav.active {
        max-height: 100%;
    }

    .mobile-nav #sqs-social {
        margin: 0  15px!important;
    }

    .mobile-nav #sqs-social a {
        margin: 0 5px !important;
    }

    .mobile-nav .main-nav {
        padding: 20px;
    }

    .mobile-nav-button .button {
        background-color: #FFF;
        border: 0;
        padding: 20px;
    }

    .mobile-nav-button .header-brand {
        top: 0;
        right: 20px;
        margin-right: 0;
    }

    .footer-nav {
        margin-bottom: 50px;
    }

    .footer-nav ul {
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
        -webkit-align-items: center;
        -webkit-flex-wrap: wrap;
    }

    .footer-nav ul li {
        width: 100%;
    }

    .footer-nav ul li a {
        display: block;
    }
}
