/* Main navigation */
.horizontal-navigation-bar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 960px;
}

.horizontal-navigation-bar .main-nav {
    padding-right: 0 !important;
    margin-left: 20px;
}

.horizontal-navigation-bar nav ul {
    margin-left: 0;
}

.horizontal-navigation-bar nav ul li a {
    padding: 0;
    margin-right: 30px;
    font-family: @font-gt-haptik-medium !important;
    font-size: 14px;
    transition: color 0.3s;
}

#main-navigation a:hover,
#main-navigation .active-link a {
    color: #0200fc !important;
}

.mobile-nav-container {
    display: none;
}


/* Footer navigation */
.footer-nav {
    margin-top: 50px;
}

.footer-nav ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    -webkit-flex-wrap: nowrap;
}

.footer-nav ul li a {
    color: #FFF;
    transition: color 0.3s;
}

.footer-nav ul li a:hover {
    color: #f93a2b;
}




@media only screen and (min-width: 320px) and (max-width: 768px) {
    .desk-nav {
        display: none;
    }

    .mobile-nav-container {
        display: block;
    }

    .mobile-nav {
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s;
    }

    .mobile-nav.active {
        max-height: 100%;
    }

    .mobile-nav #sqs-social {
        margin: 0  15px!important;
    }

    .mobile-nav #sqs-social a {
        margin: 0 5px !important;
    }

    .mobile-nav .main-nav {
        padding: 20px;
    }

    .mobile-nav-button .button {
        background-color: #FFF;
        border: 0;
        padding: 20px;
    }

    .mobile-nav-button .header-brand {
        top: 0;
        right: 20px;
        margin-right: 0;
    }

    .footer-nav {
        margin-bottom: 50px;
    }

    .footer-nav ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        display: -webkit-box;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
        -webkit-align-items: center;
        -webkit-flex-wrap: wrap;
    }

    .footer-nav ul li {
        width: 100%;
    }

    .footer-nav ul li a {
        display: block;
    }
}
