/* Icons and images */
.horizontal-navigation-bar #sqs-social {
    margin-top: 18px !important;
}

#sqs-social a{
    width: 25px;
    height: 25px;
    
    font-size: 25px;
    
    transition: color 0.3s;
}